<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    /*body {
      
          background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080');
          z-index:-1;
     
    }*/

    #backgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .heading {
        width: 600px;
        height: 300px;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        outline: none;
    }

    .title1 {
        display: block;
        text-align: center;
        color: white;
        font-size: 50pt;
        font-family: fantasy;
    }

    .title2 {
        display: block;
        margin-top: 16px;
        text-align: center;
        color: white;
        font-size: 15pt;
        font-family: sans-serif;
    }

    .register {
        margin: 50px auto;
        display: block;
        width: 180px;
        height: 50px;
        border: 3px solid white;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        float: left;
        transition: background-color 1000ms, color 1000ms;
        margin-left: 75px;
    }

        .register:hover {
            background-color: rgba(255, 255, 255, 1);
            color: #222;
            cursor: pointer;
            transition: background-color 1000ms, color 1000ms;
        }

    .login {
        margin: 50px auto;
        display: block;
        width: 180px;
        height: 50px;
        border: 3px solid white;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        float: right;
        transition: background-color 1000ms, color 1000ms;
    }

        .login:hover {
            background-color: rgba(255, 255, 255, 1);
            color: #222;
            cursor: pointer;
            transition: background-color 1000ms, color 1000ms;
        }

    ul {
        list-style: none;
    }

    .footer[b-zq352x9rru] {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
        background-color: white;
    }
</style>

<img src="~/css/IndexPhoto.jpg" id="backgroundImage" />
<div class="heading">
    <span class="title1">Employee Attendance</span>
    <span class="title2">Give yourself a long term goal. Focus on working towards it.</span>
    <ul>
        <form asp-action="CheckIn">

            <div class="form-group">
        <li><button type="submit" class="register">Check In</button></li>
</div>
            </form>

<form asp-action="CheckOut">

    <div class="form-group">
        <li><button type="submit" class="register">Check Out</button></li>
    </div>
</form>
    </ul>
</div>
