@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@*
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <style>

        .card-footer {
            padding: 0.5rem 1rem;
            background-color: rgba(0,0,0,.03);
            /* border-top: 1px solid rgba(0,0,0,.125); */
        }

        .footer[b-zq352x9rru] {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
            background-color: #f8f9fa !important;
        }

        .container {
            position: absolute;
            left: 15px;
        }
    </style>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Profile</h3></div>
                                <div class="card-body">
                                    <form id="profile-form" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Username" class="form-control" disabled />
                                            <label for="Username">Username</label>
                                            @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.PhoneNumber" class="form-control" />
                                            <label for="Input.PhoneNumber">Phone Number</label>
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>


                                        <div class="card-footer text-center py-3 d-flex align-items-center justify-content-end mt-4 mb-0">
                                            @*<a class="small btn btn-primary" href="~/">Back</a>*@
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>


                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>